.image-row
{
    display: flex;
    gap:10%;
    align-items: center;
    margin: 50px 100px 100px;
}
h1{
    font-size:xx-large;
    text-align: center;
}
button
{
    background-color:green;
    border-radius: 15px;
    color: black;
    padding: 12px 24px;
    margin-left: 45%;
}