.review-container
{
    max-width:500px ;
    background-color:rgb(209, 185, 232);
    padding: 24px;
    border-radius: 10px;
    margin: 50px auto;


}
.review-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;  
}
